<h1> player stats! </h1>

<h2> {{ playersStats.player.name}} stats </h2>

<div class="row">
  <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          matches played
        </div>
        <div class="col-md-3">
          Goals
        </div>
        <div class="col-md-3">
          Assists
        </div>
        <div class="col-md-3">
          Ratings
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-4">
          Total Shots
        </div>
        <div class="col-md-4">
          Shots on target
        </div>
        <div class="col-md-4">
          Ariel Duals
        </div>
        <div class="col-md-4">
          <img src="http://via.placeholder.com/70x70">
        </div>
        <div class="col-md-4">
          <img src="http://via.placeholder.com/70x70">
        </div>
        <div class="col-md-4">
          <img src="http://via.placeholder.com/70x70">
        </div>
      </div>

        <br>

      <div class="row">
        <div class="col-md-12">
          Posession?
        </div>
      </div>
        <br>
</div>
