<h1>show page for games</h1>

{{ gamesShow.game  }}


<table>
  <tr>
    <th>Home</th>
    <th>Away</th>
  </tr>
  <tr>
    <td>{{ gamesShow.game.name }}</td>
    <td>{{ gamesShow.game.away.name }}</td>
  </tr>
  <tr>
    <th colspan="2">PLAYERS</th>
  <tr>
    <td>Player home:{{ gamesShow.game.homePlayer}}</td>
    <td>Player Away:{{ gamesShow.game.awayPlayer}}</td>
  </tr>
  <tr>
    <td>goals :{{ gamesShow.game.homeGoals}}</td>
    <td>goals :{{ gamesShow.game.awayGoals}}</td>
  </tr>
  <tr>
    <td>Assists :{{ gamesShow.game.homeAssists}}</td>
    <td>Assists :{{ gamesShow.game.awayAssists}}</td>
  </tr>
</table>

<button ng-click="gamesShow.delete()">Delete</button> <br>
<a ui-sref="gamesEdit({ id:gamesShow.game.id })">EDIT</a>
